.wild-pokemon{
  height: 100vh;
  border:1em solid gray;
  overflow-y: scroll;
  overflow-x: hidden;
}

.pokedex-screen{
  height: 40vh;
  border: 1.5em solid grey;
}

.my-pokemon{
  height: 60vh;
  border: 1em solid darkgray;
  overflow-y: scroll;
  overflow-x: hidden;
}